@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900');
body, html {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.topCanvas {
    background-color: #000;
    background-image: url("/images/upperBg@2x.png");
    background-size: 100%;
    background-position-y: -2em;
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

header {
    padding: 2em;
    padding-bottom: 0;

    .menu-btn {
        width: 18px;
        float: left; 
        cursor: pointer;
    }
}

nav {
    position: absolute;
    background: #EEF0F2;
    padding: 2em;
    width: calc(50% - 4em);;
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: left;

    .close-btn {
        float: right;
        padding-right: 2.5%;
        cursor: pointer;
    }

    ul {
        list-style: none;
        margin: 20% auto 0 auto;
        padding: 0;
        text-align: center;
        

        a {
            text-decoration-line: none;
            color: #13505B;
            font-size: 2em;
            font-weight: 700;
        }
    }

    
}

.upperSection {
    color: white;
    z-index: -1;
    .upperSegments {
        //border: 1px solid blue;
        
        list-style-type: none;
        margin: 0 auto 0 auto;
        
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 90%;
        float: left;

        .currTemp {
           // border: 1px solid white;
            padding: 0;
            
            font-size: 25px;

            h1 {
                font-weight: 700;
                font-size: 125px;
                margin: 0;
                margin-top: -0.2em;
                padding: 0;
                text-align: center;
            }
            h3 {
                //border: 1px solid black;
                font-weight: 300;
                margin: 0;
                margin-top: 0em;
                text-align: center;
                padding-bottom: 1.5em;
            }
            
        }
        .g {
            //border: 1px solid blue;
            width: 20%;
            position: absolute;
            
            align-content: center;
            
            .f {
                //border: 1px solid blue;

                position: absolute;
                margin-top: 0em;
                width: 20vw;
                height: auto;
                text-align: center;
                font-weight: 100;

                .row1 {
                    
                    p {
                        font-weight: 100;
                        font-size: 16px;
                    }
                }

                .row2 {
                    p {
                        font-weight: 100;
                        font-size: 20px;
                    }
                    
                }

                
            }
        }

        .future {
            //border: 1px solid white;
            height: 95%;
            .location {
                text-align: center;
                h2 {
                    margin-top: -0.2em;
                    font-size: 60px;
                    font-weight: 700;
                }
                .locationLine {
                    align-self: center;
                    width: 235px;
                    height: 0px;
                    margin: -3.3em 2em 0 13em;
                    border-bottom: 2px solid white;
                    border-top: 2px solid white;
                    border-radius: 3px;
                    position: absolute;
                }
            }
            .futureWeather {
                //border: 1px solid blue;
                
                ul {
                   //border: 1px solid white;
                    list-style-type: none;
                    padding-left: 0;
                    margin-left: -1.25em;
                    display: grid;
                    grid-template-columns: repeat(4, 25%);
                    padding-top: 0.5em;
                    width: 110%;
                    

                    .weatherCard {
                        font-size: 20px;
                        
                        background: white;
                        color: #13505B;
                        width: 130px;
                        height: 180px;
                        border-radius: 8px;
                        text-align: center;
                        float: left;

                        h4 {
                            margin: 0.7em auto 0.3em auto;
                        }
                        img {
                            height: 80px;
                            width: 80px;
                        }
                        
                    }
                }
                
            }
        }
        
       
    }
}

.show-menu {
    display: block;
    animation: slide-menu-open 0.5s ease-in forwards;
}

@keyframes slide-menu-open {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}